DB_HOST=tax-management.ccnbmnrjurnt.us-east-1.rds.amazonaws.com:5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=MulTMJWnhoqwQjEMNoMQ
INIT_TOKEN=sEcretTOken101
DB_PORT=3306

ADMIN_NAME=admin
ADMIN_EMAIL=admin_duy@gmail.com
ADMIN_PASSWORD=1
ADMIN_USER=admin_duy

PORT=3001
